<div *ngIf="cartProducts.length; else emptyCart" class="cart">
    <div class="cart__item">
        <div class="cart-item" *ngFor="let cartProduct of cartProducts">
            <img class="" src="{{cartProduct.url}}"/>
            <div class="cart-panel">
                <div class="cart-detail">{{cartProduct.name}}</div>
                <div class="cart-detail">{{cartProduct.price}}</div>
                <div class="cart-detail">
                    <!-- Dòng #cart day la mot template reference variable trong angular
                    khi dat #cart trong the select angular cho phep tham chieu den phan tu nay trong cung template -->
                    <select #cart (change)="selectChange(cart.value, cartProduct)" name="" id="" style="width: 100px;" class="form-select" aria-label="Default select example">
                        <option 
                            *ngFor="let option of productCount"
                            [ngValue]="option"
                            [selected]="cartProduct.amount === option"
                        >
                            {{option}}
                        </option>
                    </select>
                </div>
                <div class="cart-detail">
                    <button class="btn btn-primary" (click)="deleteItem(cartProduct.id)">Remove</button>
                </div>
            </div>
        </div>
        <div class="cart-item">
            <b>Total price: {{totalPrice}} $</b>
        </div>
    </div>
    <div>
        <app-user-info (userInfo)="onSubmit($event)"></app-user-info>
    </div>
</div>
<ng-template #emptyCart>
    <div class="warning-message">
        Cart is empty! Please, 
        <a routerLink="/">add product</a>
    </div>
</ng-template>