<div>
    <form action="" class="form-group" [formGroup]="createForm" (ngSubmit)="obSubmit()">
        <div>
            <label for="">Full Name</label> <br/>
            <input type="text" class="form-control" type="text" formControlName="firstName" placeholder="Enter First Name" required />
        </div>
        <br/>
        <div>
            <label for="">Address</label> <br/>
            <input class="form-control" type="text" formControlName="address" placeholder="Enter Address" />
        </div>
        <br/>
        <div>
            <label for="">Credit Card Number</label> <br/>
            <input type="number" class="form-control" placeholder="(16-digit number)" formControlName="creditCart" maxlength="16" />
        </div>
        <br/>
        <span class="message">We'll never share your payment details with anyone else. </span>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
